
/* 19 july 2019 start code css */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
	overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
}

.first-div {
    box-shadow: 0px 4px 14px #ccc; 
}

.first-div nav.navbar-expand-md ul.navbar-nav { 
	margin-left: auto !important;
}

.first-div nav.navbar-light a.navbar-brand > img {                                
	width: 230px;
}

.first-div nav.navbar ul.navbar-nav li.nav-item {
    padding-left: 15px;
}

.first-div nav.navbar ul.navbar-nav a.nav-link {
    font-weight: 400;
    color: #333;
}

.first-div nav.navbar.navbar-expand-md {
	height: 70px;
}

.second-div {
	position: relative;
}

.second-div .carousel-inner > .carousel-item > img { 
	width: 100%;
}

.second-div .build-load { 
    position: absolute;
    top: 32%;
    left: 10%;
}

.second-div .build-load .form-row .left-div {
    width: 25%;
    float: left;
}

.second-div .build-load .form-row .left-div select.form-control-lg { 
    border-radius: 5px; 
}

.second-div .build-load .form-row input.form-control-lg {
    width: 50%;
    float: left;
    border-radius: 5px 0px 0px 5px;
    font-size: 17px; 
    height: 48px;
}

.second-div .build-load .form-row button[type="submit"], .second-div .build-load .form-row button[type="submit"]:focus {       
    width: 25%;
    float: left;
    border-radius: 0px 5px 5px 0px;
    color: #333;
    background-color: #fbb415;
    border-color: #fbb416;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 18px;
    height: 48px;
}

.second-div .build-load .form-row button[type="submit"]:hover {
    background-color: #efad1c;
    border-color: #efad1c;
    color: #000;
}

.second-div .build-load .col-xl-6 {
    min-width: 600px; 
}

.second-div .build-load h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.second-div .build-load h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.third-div {
    padding: 40px 0;  
}

.third-div .left {
    width: 50%;
    float: left;
}

.third-div h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 35px;
    font-weight: 600;
}

.third-div .full-div {
    max-height: 180px;
    min-height: 180px;
    background: #fff;
    border: solid 1px #eee;
    box-shadow: 4px 7px 12px #999;
    overflow: hidden; 
}

.third-div .left ul {
    width: 100%;
    margin: 0;
    padding: 0;    
}

.third-div .left ul li:first-child {
    font-weight: 500;
    margin-top: 5px;
}

.third-div .left ul li {                                         
    padding: 4px 12px;
}

.third-div .right {                                         
    width: 50%;
    float: left;
    height: 180px;
}

.third-div .right > img {                                                 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fourth-div {
    padding: 40px 0 0; 
    background-color: #eee;
    text-align: center;
}

.features-icons.fourth-div {     
    padding-top: 0;
    padding-bottom: 30px;                                                   
}

.fourth-div h1 {  
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.fourth-div .features-icons {
    padding-top: 0;
    padding-bottom: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    border: solid 1px #999;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    cursor: pointer;
    transition: 1s ease; 
}

.fourth-div .features-icons:hover {      
    background: #fbb415;
    border: solid 1px #fbb415;
}

.fourth-div .features-icons:hover > img {
    transform: rotate(360deg);
}

.fourth-div .features-icons > img {
    width: 40px;
    height: 40px;
    transition: 1s linear;
}

.fourth-div .features-icons-item h3 { 
    font-size: 17px;
    font-weight: 500;
    padding-top: 30px;
}

.fifth-div {
    position: relative;
    padding: 40px 0 0;   
    text-align: center;
    background-image: url('../img/building3.jpg'); 
    width: 100%;
    min-height: 450px; 
    background-repeat: no-repeat;
    background-size: cover;
}

.fifth-div h1 {  
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;
}

.fifth-div h2 {
    color: #fff;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
}

.fifth-div h3 { 
    font-size: 20px;                    
    font-weight: 500;
    padding-top: 20px;
    color: #fff;
    line-height: 30px;
}

.fifth-div .features-icons-item {                         
    padding-top: 60px;
} 



/* testimonial slider start code css */

.six-div {
    padding: 30px 0 0;
}

.six-div h1 {               
    text-align: center;
    font-size: 28px;
    padding-top: 0;
    padding-bottom: 20px;
    color: #333;
}

.six-div p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
} 

.six-div .col-md-4 {
    padding-bottom:20px;
}

.six-div .white {
  color: #fff !important;
}
.six-div .mt{float: left;margin-top: -20px;padding-top: 20px;}
.six-div .bg-blue-ui {
  background-color: #708198 !important;
}
.six-div figure img{width:300px;}

.six-div #blogCarousel {
  padding-bottom: 100px;
}

.six-div .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
    display: none;
}


/* The colour of the indicators */

.six-div .blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.six-div .blog .carousel-indicators .active {
  background: #0fc9af;
}

.six-div .item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.six-div .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    background: #f9f9f9;
}

.six-div .item-box-blog-image {
  position: relative;
}

.six-div .item-box-blog-image figure img {
    width: 90px;
    height: auto;
    border-radius: 50%;
    border: solid 1px #999;
}

.six-div .item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.six-div .item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.six-div .item-box-blog-date span.mon {
  font-size: 18px;
}

.six-div .item-box-blog-date span.day {
  font-size: 16px;
}

.six-div .item-box-blog-body {
  padding: 10px;
}

.six-div .item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.six-div .item-box-blog-heading a {
    text-decoration: none;
}

.six-div .item-box-blog-data p {
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
}

.six-div .item-box-blog-data p i {
  font-size: 12px;
}

.six-div .item-box-blog-text {
    margin-bottom: 40px;
}

.six-div .item-box-blog-text.mb-90 {
    margin-bottom: 90px; 
}

.six-div .mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.six-div .btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.six-div .btn.bg-blue-ui.white.read:hover { 
  box-shadow: 0px 5px 15px inset #4d5f77;
}

.six-div .item-box-blog-text > p { 
    text-align: left;
    font-size: 14px;
    padding: 10px 20px 0;
}

.six-div .item-box-blog-image {
    width: 50%;
    float: left;
}

.six-div .item-box-blog-image {                               
   width: 50%;
   float: left; 
}

.six-div .border-set {     
    width: 100%;
    height: 10px;
    background: #FF9800; 
}

.six-div .border-set.two {     
    background: #03A9F4;   
}

.six-div .border-set.three {      
    background: #4CAF50;  
}

.six-div .item-box-blog-heading a > h5 {
    text-align: left;
    color: #333;
    margin-bottom: 5px;
    font-size: 18px;
}

.six-div .item-box-blog-image figure {
    padding-top: 10px; 
}

/* testimonial slider end code css */                              


.seventh-div {
    padding: 40px 0px;
    background-color: #eee;
}

.seventh-div .manage-ins {
    text-align: center;
}

.seventh-div h2 {
    font-size: 22px;  
    margin-bottom: 0;  
}

.seventh-div p {
    width: 80%;
    margin: auto;
    font-size: 15px;
    padding: 30px 0;  
}

.seventh-div h3 {
    
}

.seventh-div h3 > a {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    background: #FFC107;
    border-color: #FFC107;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #bbb;
    transition: 1s ease;    
}

.seventh-div h3 > a:hover {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
    box-shadow: none;   
}

.seventh-div .manage-ins {
    position: relative;
}

.seventh-div .b-right:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #ccc;
    height: 190px;
    width: 1px;
}


/*footer start code css*/

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section .section-title { 
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #333 !important;
    padding: 40px 0;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i {
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i { 
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


/*footer end code css*/

/* 19 july 2019 end code css */